body {
    background-color: #EFF6FF;
    font-family: "Segoe UI", Arial, sans-serif;
}


main {
    display: flex;
    margin: 70px;
    height: 100vh;
    min-height: 100vh;
    box-shadow: 10px 10px 15px 10px lightgrey;
}


.left {
    display: flex;
    justify-content: center;
    position: relative;
    width: 45%;
    min-width: 0;
    margin-right: auto;
    padding-left: 0;
}


.right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    padding-left: 70px;
    width: 55%;
    min-width: 0;
    margin-left: auto;
    overflow-y: auto;
    gap: 25px;
}


.banner {
    width: 100%;
    height: 100%;
    display: block;
    object-fit:cover;
}


.logoBanner {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 80px;
    height: auto;
}


h1 {
    font-size: 28px;
    font-weight: 600;
    color: #7B8A92;
}


.subtitle {
    font-size: 14px;
    color: #2A4A5C;
}


.regBtn {
    display: flex;
    gap: 20px;
}


.social-btn {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 48px;
    padding: 0 20px;
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    border-radius: 4px;
    width: 240px;
}


.social-btn img {
    width: 16px;
    height: 16px;
}


.facebook {
    background-color: #255A9B;
}


.linkedin {
    background-color: #0076B6;
}


.divider {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 115px;
    gap: 12px;
    width: 350px;
    color: #2A4A5C;
    font-size: 12px;
}


.divider::before,
.divider::after {
    content: "";
    flex: 1;
    height: 1px;
    background-color: #2A4A5C;
}


.divider span {
    padding: 0 12px;
}


.contacts {
    display: flex;
    gap: 20px;
}


.contacts input {
    flex: 1;
    height: 44px;
    padding: 0 12px;
    font-size: 14px;
    width: 250px;
    border-left: solid 3px white;
    border-right: solid 0px;
    border-bottom: solid 0px;
    border-top: solid 0px;
}

.contacts input:focus {
    border-color: #2A4A5C;
    outline: none;
}

.radio-group {
    display: flex;
    justify-content: left;
    gap: 10px;
}


.radio-card {
    display: flex;
    align-items: center;
    gap: 0px;
    padding: 12px 16px;
    font-size: 14px;
    padding-left: 0px;
}


.radio-card input {
    accent-color: #2A4A5C;
}


.submit-btn {
    margin-top: 20px;
    height: 48px;
    width: 220px;
    background-color: #3698FB;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
}

ul {
    padding-left: 10px;
}
li {
    list-style: none;
}
